# Ignorer les fichiers de l'environnement local
.env
*.env

# Ignorer le venv
venv/

# Ignorer les fichiers de configuration de l'IDE
.vscode/
.idea/
NLP/.ipynb_checkpoints/

# Ignorer les fichiers de log
*.log

# Ignorer les fichiers générés par l'OS
.DS_Store
Thumbs.db

# Ignorer les dossiers de cache de Python
__pycache__/
.vscode/
*.pyc


# Ignorer les fichiers de secrets, clés API ou autres fichiers sensibles
*.key
*.pem
*.crt
*.env
config.json
